.sk{
    background-color: red;
    color: white;
    height: 10rem;
    width: 20rem;
}
.rg{
    background-color: green;
    color: white;
    height: 10rem;
    width: 20rem; 
}
.ka{
    background-color: blueviolet;
    color: white;
    height: 10rem;
    width: 20rem;
}